body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: #f2f2f2;
	font-size: 1em;
	line-height: 1.5em;
	text-align: justify;
	padding-top: 80px;
}


#title {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
	text-align: center;
}

#board {
    width: 350px;
    height: 420px;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}

.baldosa {
    /* Box */
    border: 2px solid lightgray;
    width: 60px;
    height: 60px;
    margin: 2.5px;

    /* Text */
    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correcto {
    background-color: #6AAA64;
    color: white;
    border-color: white;
}

.presente {
    background-color: #C9B458;
    color: white;
    border-color: white;
}

.ausente {
    background-color: #787C7E;
    color: white;
    border-color:white;
}

.teclado-fila {
    width: 380px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.key-baldosa {
    width: 34px;
    height: 40px;
    margin: 1px;
    border: 1px solid lightgray;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter-key-baldosa {
    width: 72px;
    height: 40px;
    margin: 1px;
    border: 1px solid lightgray;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img1 {
	max-width: 50%;
	margin: 0 auto;
	display: block;
}

#img3 {
	max-width: 65%;
	height: auto;
}

.forma2 {
	padding: 0 0 0 20px;
	float: right;
}

.forma {
	padding: 0 20px 0 0;
	float: left;
}


.btn {
	background-color: rgb(59, 209, 96);
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	text-decoration: none;
	font-size: 1.2em;
}


h1 {
	font-size: 1.8em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: bold;
}

h3 {
    font-size: 1.5em;
    line-height: 1.3em;
    margin: 15px 0;
    text-align: center;
    font-weight: bold;
}


/************
//-------------------------------
// CABECERA
//-------------------------------
************/
#main-header {
	background: #333;
	color: white;
	height: 80px;
	width: 100%;
	left: 0;
	top: 0;
	position: fixed;
}
#main-header a {
	color: white;
}

/*
 * Logo
 */
#logo-header {
	float: left;
	padding: 15px 0 0 155px;
	text-decoration: none;
    text-transform: uppercase;
}
#logo-header:hover {
	color: #0b76a6;
}

#logo-header .site-name {
	display: block;
	font-weight: 700;
	font-size: 1.2em;
}


/*
 * Navegación
 */
nav {
	float: right;
}
nav ul {
	margin: 0;
	padding: 0;
	padding-right: 40px;
}

nav ul li {
	display: inline-block;
	line-height: 20px;
}

nav ul li a {
	display: inline-block;
	padding: 10px 10px;
	text-decoration: none;
}

nav ul li a:hover {
	background: #0b76a6;
}




/************
//------------------------------
// CONTENIDO
//------------------------------
************/
#main-content {
	background-color: white;
	width: 90%;
	max-width: 800px;
	margin: 20px;
}

#main-content header,
#main-content .content {
	padding: 20px;
}

/************
//-----------------------------
// PIE PÁGINA
//-----------------------------
************/
#main-footer {
	background: #333;
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
}

#main-footer p {
	margin: 0;
}

#footer {
	background: #333;
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
}
#footer p {
	margin: 0;
}

#wordle-footer {
	position: fixed;
	width: 100%;
	background: #333;
	color: white;
	text-align: center;
	padding: 10px;
	bottom: 0;
}

/*Media Queries*/
/*Small (mobile)*/
@media (max-width: 767px) {
    .padre {
        display: block;
    }
}

/*Medium (tablet)*/
@media (min-width: 768px) and (max-width: 991px) {
	.padre {
		display: block;
	}
	nav {
		float: right;
	}
	nav ul {
		margin: 0;
		padding: 0;
		padding-right: 20px;
	}

	nav ul li {
		display: inline-block;
		line-height: 80px;
	}

	nav ul li a {
		display: block;
		padding: 0 10px;
	}
	#logo-header {
		padding: 15px 0 0 20px;
	}
	#main-content {
		margin: 20px auto;
	}
	.container {
		display: flex;
		flex-direction: column;
		height: 100vh;
	}
	#main-footer {
		margin-top: auto;
	}
	#img3 {
		max-width: 40%;
		height: auto;
	}
}

/*Large (desktop)*/
@media (min-width: 992px) {
	nav {
		float: right;
	}
	nav ul {
		margin: 0;
		padding: 0;
		padding-right: 20px;
	}

	nav ul li {
		display: inline-block;
		line-height: 80px;
	}

	nav ul li a {
		display: block;
		padding: 0 10px;
	}
	#logo-header {
		padding: 15px 0 0 20px;
	}
	#main-content {
		margin: 20px auto;
	}
	#img3 {
		max-width: 40%;
		height: auto;
	}

	#footer{
		bottom: 0;
		position: fixed;
		width: 100%;
		background: #333;
		color: white;
		text-align: center;
		padding: 20px;
	}
}